<!DOCTYPE html>
<html lang="en">
	<%- include('partials/header') %>
	<body style="font-family: sans-serif;">
		
		<div class="container mt-5">
			<div class="alert alert-danger" role="alert">
				Country Not Found
			</div>
			<div class="text-center">
				<a href="/" class="btn btn-warning w-100 fs-5">Restart</a>
			</div>
		</div>
		
		<%- include('partials/footer') %>
	</body>
</html>