<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>

	<body style="font-family: sans-serif;">
		<div class="container mt-5">
			<form action="/" method="POST">
				<div class="form-floating mb-3">
					<input type="text" name="city" class="form-control" id="floatingInput"
						placeholder="name@example.com">
					<label for="floatingInput">Search</label>
					<button class="btn btn-success mt-2 w-100 fs-5" type="submit">Click</button>
				</div>
			</form>
		</div>
		<%- include('partials/footer') %>
	</body>

</html>